In [1]:
import spacy
from spacy import displacy

In [2]:
nlp = spacy.load('en_core_web_sm')

In [3]:
text = "Apple, This is first sentence. and Google this is another one. here 3rd one is"
doc = nlp(text)
doc

Apple, This is first sentence. and Google this is another one. here 3rd one is

In [4]:
for token in doc:
    print(token)

Apple
,
This
is
first
sentence
.
and
Google
this
is
another
one
.
here
3rd
one
is

In [5]:
sent = nlp.create_pipe('sentencizer')
nlp.add_pipe(sent, before='parser')
doc = nlp(text)

In [6]:
for sent in doc.sents:
    print(sent)

Apple, This is first sentence.
and Google this is another one.
here 3rd one is

In [7]:
from spacy.lang.en.stop_words import STOP_WORDS

In [8]:
stopwords = list(STOP_WORDS)
print(stopwords)

['’m', 'please', 'wherever', 'give', 'thus', 'neither', 'after', "n't", 'somehow', 'show', 'most', '‘d', 'will', 'any', 'besides', 'too', 'often', 'whoever', 'in', 'because', 'both', 'upon', 'whose', 'as', 'and', 'should', 'just', 'being', 'four', 'last', 'below', 'off', 'yourself', 'herein', 'his', 'whereupon', 'am', 'through', 'doing', 'themselves', '’re', 'all', 'did', 'about', 'each', 'first', 'is', 'back', 'whether', 'although', 'only', 'do', 'whither', 'a', 'else', 'twelve', 'he', 'side', 'i', 'you', 'get', 'less', 'anyhow', 'nine', 'ca', 'beforehand', 'against', 'where', 'unless', 'someone', 'perhaps', 'such', 'an', 'those', 'thence', 'thereupon', 'nor', 'nevertheless', 'name', 'namely', 'myself', 'otherwise', 'nowhere', 'does', 'forty', 'anywhere', 'another', 'amongst', 'move', 'enough', 'regarding', 'own', 'then', "'ve", 'nothing', 'which', 'always', '’ve', 'above', 'much', 'alone', '‘s', 'even', 'out', 'becomes', 'around', 'within', 'almost', 'none', 'also', 'several', 'front', 'are', 'behind', 'further', 'me', 'us', 'there', 'her', 'onto', 'across', 'sixty', 'whereas', '‘ll', 'cannot', 'due', 'twenty', 'up', 'five', 'hence', 'ten', 'what', 'under', 'but', 'few', 'keep', 'amount', 'seem', 'using', '‘m', 'make', 'one', 'had', 'per', 'formerly', 'made', 'them', 'down', 'has', 'noone', 'wherein', 'thru', 'along', 'whatever', 'for', 'again', 'however', 'hereupon', 'really', 'top', 'anything', 'hers', '’s', 'we', 'next', 'therefore', 'serious', 'become', 'now', 'others', "'m", 'when', 'mostly', 'already', 'least', 'very', 'that', 'yet', 'during', 'himself', 'beside', 'once', 'this', 'moreover', 'sometime', 'used', 'fifty', 'indeed', 'still', 'might', 'thereafter', 'never', 'their', 'before', 'go', 'something', 'nobody', 'hereafter', 'how', 'your', 'take', 'becoming', 'from', 'full', 'our', "'d", 'yourselves', 'my', 'call', 'without', 'until', 'whom', 'seeming', 'latter', 'would', 'rather', 'via', 'its', 'whereafter', '’ll', 'every', 'been', 'with', 'seems', 'whenever', 'put', 'could', 'these', 'or', 'empty', '’d', 'him', 'the', 'not', 'have', 'done', 'eleven', 'elsewhere', 'among', 'meanwhile', 'must', 'yours', 'became', 'was', 'it', "'s", 'latterly', 'be', 'see', 'into', 'though', 'whole', 'hereby', 'everything', 'fifteen', 'ourselves', 'afterwards', 'bottom', '‘ve', 'over', 'some', 'of', 'by', 'hundred', 'three', 'anyway', 'therein', 'eight', 'towards', 'whence', 'say', 'itself', 'throughout', 'to', "'re", 'either', 'former', 'except', 'so', 'n‘t', 'n’t', 'were', 'somewhere', 'while', 'sometimes', 'beyond', 'various', 'many', 'everywhere', 're', 'other', 'well', 'more', 'together', 'thereby', 'mine', 'part', 'ours', 'third', 'anyone', 'quite', 'if', 'between', 'no', 'since', 'on', 'may', 'two', 'at', 'everyone', 'she', 'who', 'than', 'seemed', 'whereby', 'here', 'toward', 'can', 'same', 'why', 'six', 'they', 'herself', '‘re', 'ever', "'ll"]

In [9]:
len(stopwords)

326

In [10]:
for token in doc:
    if token.is_stop == False:
        print(token)

Apple
,
sentence
.
Google
.
3rd

Lemmatization

In [11]:
doc = nlp('run runs running runner')
for lem in doc:
    print(lem.text, lem.lemma_)

run run
runs run
running run
runner runner

**POS**

In [12]:
doc = nlp('All is well at your end!')
for token in doc:
    print(token.text, token.pos_)

All DET
is AUX
well ADV
at ADP
your DET
end NOUN
! PUNCT

**Entity** **Detection**

In [13]:
doc = nlp("New York City on Tuesday declared a public health emergency and ordered mandatory measles vaccinations amid an outbreak, becoming the latest national flash point over refusals to inoculate against dangerous diseases. At least 285 people have contracted measles in the city since September, mostly in Brooklyn’s Williamsburg neighborhood. The order covers four Zip codes there, Mayor Bill de Blasio (D) said Tuesday. The mandate orders all unvaccinated people in the area, including a concentration of Orthodox Jews, to receive inoculations, including for children as young as 6 months old. Anyone who resists could be fined up to $1,000.")

In [14]:
displacy.render(doc, style = 'ent')

'<div class="entities" style="line-height: 2.5; direction: ltr">\n<mark class="entity" style="background: #feca74; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">\n    New York City\n    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">GPE</span>\n</mark>\n on \n<mark class="entity" style="background: #bfe1d9; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">\n    Tuesday\n    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">DATE</span>\n</mark>\n declared a public health emergency and ordered mandatory measles vaccinations amid an outbreak, becoming the latest national flash point over refusals to inoculate against dangerous diseases. \n<mark class="entity" style="background: #e4e7d2; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">\n    At least 285\n    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">CARDINAL</span>\n</mark>\n people have contracted measles in the city since \n<mark class="entity" style="background: #bfe1d9; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">\n    September\n    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">DATE</span>\n</mark>\n, mostly in \n<mark class="entity" style="background: #feca74; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">\n    Brooklyn\n    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">GPE</span>\n</mark>\n’s \n<mark class="entity" style="background: #feca74; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">\n    Williamsburg\n    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">GPE</span>\n</mark>\n neighborhood. The order covers \n<mark class="entity" style="background: #e4e7d2; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">\n    four\n    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">CARDINAL</span>\n</mark>\n Zip codes there, Mayor \n<mark class="entity" style="background: #aa9cfc; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">\n    Bill de Blasio\n    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">PERSON</span>\n</mark>\n (D) said \n<mark class="entity" style="background: #bfe1d9; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">\n    Tuesday\n    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">DATE</span>\n</mark>\n. The mandate orders all unvaccinated people in the area, including a concentration of \n<mark class="entity" style="background: #7aecec; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">\n    Orthodox Jews\n    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">ORG</span>\n</mark>\n, to receive inoculations, including for children as young as \n<mark class="entity" style="background: #bfe1d9; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">\n    6 months old\n    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">DATE</span>\n</mark>\n. Anyone who resists could be fined \n<mark class="entity" style="background: #e4e7d2; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em;">\n    up to $1,000\n    <span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">MONEY</span>\n</mark>\n.</div>'

**Text** **Classification**

In [15]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [18]:
data_yelp = pd.read_csv('/yelp.txt', sep='\t', header = None)

In [19]:
columns_name = ['Review', 'Sentiment']
data_yelp.columns = columns_name

In [20]:
data_yelp.head()

                                              Review  Sentiment
0                           Wow... Loved this place.          1
1                                 Crust is not good.          0
2          Not tasty and the texture was just nasty.          0
3  Stopped by during the late May bank holiday of...          1
4  The selection on the menu was great and so wer...          1

In [21]:
data_yelp.shape

(1000, 2)

In [22]:
data_amazon = pd.read_csv('/amazon.txt', sep = '\t', header = None)
data_amazon.columns = columns_name

In [23]:
data_amazon.head()

                                              Review  Sentiment
0  So there is no way for me to plug it in here i...          0
1                        Good case, Excellent value.          1
2                             Great for the jawbone.          1
3  Tied to charger for conversations lasting more...          0
4                                  The mic is great.          1

In [24]:
data_amazon.shape

(1000, 2)

In [25]:
data_imdb = pd.read_csv('/IMDB.txt', sep = '\t', header = None)

In [26]:
data_imdb.columns = columns_name
data_imdb.shape

(746, 2)

In [27]:
data_imdb.head()

                                              Review  Sentiment
0  A very, very, very slow-moving, aimless movie ...          0
1  Not sure who was more lost - the flat characte...          0
2  Attempting artiness with black & white and cle...          0
3       Very little music or anything to speak of.            0
4  The best scene in the movie was when Gerardo i...          1

In [28]:
data = data_yelp.append([data_amazon, data_imdb], ignore_index=True)

In [29]:
data.shape

(2746, 2)

In [30]:
data.head()

                                              Review  Sentiment
0                           Wow... Loved this place.          1
1                                 Crust is not good.          0
2          Not tasty and the texture was just nasty.          0
3  Stopped by during the late May bank holiday of...          1
4  The selection on the menu was great and so wer...          1

In [31]:
data['Sentiment'].value_counts()

1    1386
0    1360
Name: Sentiment, dtype: int64

In [32]:
data.isnull().sum()

Review       0
Sentiment    0
dtype: int64

**Tokenization**

In [33]:
import string

In [34]:
punct = string.punctuation

In [35]:
punct

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [36]:
def text_data_cleaning(sentence):
    doc = nlp(sentence)
    
    tokens = []
    for token in doc:
        if token.lemma_ != "-PRON-":
            temp = token.lemma_.lower().strip()
        else:
            temp = token.lower_
        tokens.append(temp)
    
    cleaned_tokens = []
    for token in tokens:
        if token not in stopwords and token not in punct:
            cleaned_tokens.append(token)
    return cleaned_tokens

In [37]:
text_data_cleaning("Hello how are you. Like this video")

['hello', 'like', 'video']

**Vectorization Feature Engineering (TF-IDF)**

In [38]:
from sklearn.svm import LinearSVC

In [39]:
tfidf = TfidfVectorizer(tokenizer = text_data_cleaning)
classifier = LinearSVC()

In [40]:
X = data['Review']
y = data['Sentiment']

In [41]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [42]:
X_train.shape, X_test.shape

((2196,), (550,))

In [43]:
clf = Pipeline([('tfidf', tfidf), ('clf', classifier)])

In [44]:
clf.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('tfidf',
                 TfidfVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.float64'>,
                                 encoding='utf-8', input='content',
                                 lowercase=True, max_df=1.0, max_features=None,
                                 min_df=1, ngram_range=(1, 1), norm='l2',
                                 preprocessor=None, smooth_idf=True,
                                 stop_words=None, strip_accents=None,
                                 sublinear_tf=False,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=<function text_data_cleaning at 0x7f900f1258c0>,
                                 use_idf=True, vocabulary=None)),
                ('clf',
                 LinearSVC(C=1.0, class_weight=None, dual=True,
                           fit_intercept=True, intercept_scaling=1,
                           loss='squared_hinge', max_iter=1000,
                           multi_class='ovr', penalty='l2', random_state=None,
                           tol=0.0001, verbose=0))],
         verbose=False)

In [45]:
y_pred = clf.predict(X_test)

In [46]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.79      0.80      0.80       284
           1       0.79      0.78      0.78       266

    accuracy                           0.79       550
   macro avg       0.79      0.79      0.79       550
weighted avg       0.79      0.79      0.79       550

In [47]:
confusion_matrix(y_test, y_pred)

array([[228,  56],
       [ 59, 207]])

**Test 1**

In [61]:
ans = clf.predict(['Wow, this is amzing lesson'])
if ans[0]==1:
  print("Positive")
else:
  print('Negative')

Positive

**Test 2**

In [63]:
ans = clf.predict(['Wow, this sucks'])
if ans[0]==1:
  print("Positive")
else:
  print('Negative')

Negative

**Test 3**

In [64]:
ans = clf.predict(['Worth of watching it. Please like it'])
if ans[0]==1:
  print("Positive")
else:
  print('Negative')

Positive

**Test 4**

In [65]:
ans = clf.predict(['Loved it. amazing'])
if ans[0]==1:
  print("Positive")
else:
  print('Negative')

Positive